{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>رستوران</title>
  <meta name="description" content="تمپلیت مدرن و واکنش‌گرا برای رستوران، کافه، آشپزخانه و کسب‌وکارهای غذایی با طراحی تاریک و زیبا">
  <meta name="keywords" content="رستوران, کافه, تمپلیت فارسی, بوت‌استرپ, سایت رستوران, رزرو میز, منوی غذا, طراحی وب رستوران">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png'%}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png'%}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  
  <!-- Vendor css Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.rtl.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main .css File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">

</head>

<body class="index-page">

  <header id="header" class="header fixed-top">

    <div class="topbar d-flex align-items-center">
      <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center gap-2">
          <a href="mailto:contact@example.com">contact@example.com</a><i class="bi bi-envelope d-flex align-items-center"></i>
          <span>۰۹۱۴۹۶۹۳۱۰۵</span><i class="bi bi-phone d-flex align-items-center"></i>
        </div>
        <div class="languages d-none d-md-flex align-items-center">
          <ul>
            <li>En</li>
            <li><a href="#">De</a></li>
          </ul>
        </div>
      </div>
    </div><!-- End Top Bar -->

    <div class="branding d-flex align-items-cente">

      <div class="container position-relative d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="{% static 'assets/img/logo.png' %}" alt=""> -->
          <h1 class="sitename">کافه چی</h1>
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="#hero" class="active">خانه<br></a></li>
            <li><a href="#about">درباره ما</a></li>
            <li><a href="#menu">منو</a></li>
            <li><a href="#specials">ویژه ها</a></li>
            <li><a href="#events">رویدادها</a></li>
            <li><a href="#chefs">سرآشپز</a></li>
            <li><a href="#gallery">گالری</a></li>
            <li class="dropdown"><a href="#"><span>زیرمنو</span><i class="bi bi-chevron-up toggle-dropdown ms-1"></i></a>
              <ul>
                <li><a href="#">زیرمنو ۱</a></li>
                <li class="dropdown"><a href="#"><span>زیرمنو ثانوی</span> <i class="bi bi-chevron-up toggle-dropdown"></i></a>
                  <ul>
                    <li><a href="#">زیرمنوی ثانوی ۱</a></li>
                    <li><a href="#">زیرمنوی ثانوی ۲</a></li>
                    <li><a href="#">زیرمنوی ثانوی ۳</a></li>
                  </ul>
                </li>
                <li><a href="#">زیرمنوی ۲</a></li>
                <li><a href="#">زیرمنوی ۳</a></li>
              </ul>
            </li>
            <li><a href="#contact">تماس با ما</a></li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <a class="btn-book-a-table d-none d-xl-block" href="#book-a-table">رزرو میز</a>

      </div>

    </div>

  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <img src="{% static 'assets/img/hero-bg.jpg' %}" alt="" data-aos="fade-in">

      <div class="container">
        <div class="row">
          <div class="col-lg-8 d-flex flex-column align-items-center align-items-lg-start">
            <h2 data-aos="fade-up" data-aos-delay="100">به <span>کافه چی</span> خوش آمدید</h2>
            <p data-aos="fade-up" data-aos-delay="200">ارائه غذا و کافی با بیش از 12 سال سابقه!</p>
            <div class="d-flex mt-4 gap-1" data-aos="fade-up" data-aos-delay="300">
              <a href="#menu" class="cta-btn">منو</a>
              <a href="#book-a-table" class="cta-btn">رزرو میز</a>
            </div>
          </div>
          <div class="col-lg-4 d-flex align-items-center justify-content-center mt-5 mt-lg-0">
            <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
          <div class="col-lg-6 order-1 order-lg-2">
            <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid about-img" alt="">
          </div>
          <div class="col-lg-6 order-2 order-lg-1 content">
            <h3>جایی که عطر قهوه با خوشمزه‌ترین غذاها می‌آمیزد</h3>
            <p class="fst-italic">
              در اینجا، عطر قهوه‌ی تازه در همیاری غذاهای دست‌ساز و خوشمزه، فضایی منحصربه‌فرد خلق می‌کند؛ جایی که می‌توانید هم در سکوت یک فنجان قهوه نفس بکشید و هم در گرماهای یک مهمانی دوستانه لحظه‌هایی ماندگار بسازید.
            </p>
            <ul>
              <li><i class="bi bi-check2-all"></i> <span>عطر قهوه‌ی تازه در کنار غذاهای دست‌ساز و خوشمزه</span></li>
              <li><i class="bi bi-check2-all"></i> <span>فضایی برای آرامش فردی و دل‌بستن‌های گروهی</span></li>
              <li><i class="bi bi-check2-all"></i> <span>در اینجا، عطر قهوه‌ی تازه در همیاری غذاهای دست‌ساز و خوشمزه، فضایی منحصربه‌فرد خلق می‌کند؛ جایی که می‌توانید هم در سکوت یک فنجان قهوه نفس بکشید و هم در گرماهای یک مهمانی دوستانه لحظه‌هایی ماندگار بسازید. ما نه‌تنها میزی برای غذا، بلکه فضایی برای حضور قلبی شما فراهم کرده‌ایم.</span></li>
            </ul>
            <p>
              در اینجا، عطر قهوه‌ی تازه در همیاری غذاهای دست‌ساز و خوشمزه، فضایی منحصربه‌فرد خلق می‌کند؛ جایی که می‌توانید هم در سکوت یک فنجان قهوه نفس بکشید و هم در گرماهای یک مهمانی دوستانه لحظه‌هایی ماندگار بسازید.
            </p>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Why Us Section -->
    <section id="why-us" class="why-us section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>چرا ما</h2>
        <p>چرا کافه چی را انتخاب بکنید</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="card-item">
              <span>۱</span>
              <h4><a href="" class="stretched-link">میزی گرم برای مهمانانی خاص</a></h4>
              <p>ما نه‌تنها میزی برای غذا، بلکه فضایی برای حضور قلبی شما فراهم کرده‌ایم.</p>
            </div>
          </div><!-- Card Item -->

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="card-item">
              <span>۲</span>
              <h4><a href="" class="stretched-link">لوکس و احساسی</a></h4>
              <p>در اینجا، عطر قهوه‌ی تازه در همیاری غذاهای دست‌ساز و خوشمزه، فضایی منحصربه‌فرد خلق می‌کند</p>
            </div>
          </div><!-- Card Item -->

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
            <div class="card-item">
              <span>۳</span>
              <h4><a href="" class="stretched-link">فضایی برای آرامش فردی</a></h4>
              <p>جایی که می‌توانید هم در سکوت یک فنجان قهوه نفس بکشید و هم در گرماهای یک مهمانی دوستانه لحظه‌هایی ماندگار بسازید.</p>
            </div>
          </div><!-- Card Item -->

        </div>

      </div>

    </section><!-- /Why Us Section -->

    <!-- Menu Section -->
    <section id="menu" class="menu section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>منو</h2>
        <p>منوی خوشمزه‌ی ما را ببینید</p>
      </div><!-- End Section Title -->

      <div class="container isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul class="menu-filters isotope-filters">
              <li data-filter="*" class="filter-active">منوی کل</li>
              <li data-filter=".filter-starters">پیش غذا</li>
              <li data-filter=".filter-salads">سالاد</li>
              <li data-filter=".filter-specialty">ویژه ها</li>
            </ul>
          </div>
        </div><!-- Menu Filters -->

        <div class="row isotope-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-6 menu-item isotope-item filter-starters">
            <img src="{% static 'assets/img/menu/lobster-bisque.jpg' %}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">لابستر</a><span>۴۰۰.۰۰</span>
            </div>
            <div class="menu-ingredients">
              لابستر تازه‌ی اقیانوسی، با طعمی ظریف و بافتی نرم، همراه چاشنی‌های مخصوص و کره‌ی گارلیک دم‌پایین
            </div>
          </div><!-- Menu Item -->

          <div class="col-lg-6 menu-item isotope-item filter-specialty">
            <img src="{% static 'assets/img/menu/bread-barrel.jpg' %}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">نان سیر</a><span>۱۰۰.۰۰</span>
            </div>
            <div class="menu-ingredients">
              نان گرم و ترد با پوششی از کره‌ی سیر و گشنیز تازه، همراه با پنیر موزارلا ذوب‌شده
            </div>
          </div><!-- Menu Item -->

          <div class="col-lg-6 menu-item isotope-item filter-starters">
            <img src="{% static 'assets/img/menu/cake.jpg' %}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">کیک کرب</a><span>۲۰۰.۰۰۰</span>
            </div>
            <div class="menu-ingredients">
              کیک خانگی نرم و آبدار، با بافتی ابری و طعمی گرم از وانیل، همراه تزئین ظریف از خامه‌ی فرم‌گرفته و میوه‌های فصل
            </div>
          </div><!-- Menu Item -->

          <div class="col-lg-6 menu-item isotope-item filter-salads">
            <img src="{% static 'assets/img/menu/caesar.jpg' %}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">سالاد سزار</a><span>۳۲۰.۰۰۰</span>
            </div>
            <div class="menu-ingredients">
              سالاد سزار کلاسیک با کاهوی ترد، پنیر پارمزان تازه‌رندشده، نان تست کرَنچی و سس سزار خانگی، همراه با مرغ گریل‌شده یا بدون آن
            </div>
          </div><!-- Menu Item -->

          <div class="col-lg-6 menu-item isotope-item filter-specialty">
            <img src="{% static 'assets/img/menu/tuscan-grilled.jpg' %}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">گریل توسکان</a><span>۵۲۰.۰۰۰</span>
            </div>
            <div class="menu-ingredients">
              انتخابی از گوشت‌های باکیفیت، ماهی و سبزیجات تازه — گریل‌شده روی آتش با چاشنی‌های اصیل و دم‌پایین، برای عاشقان طعم دود و تردیِ خاص
            </div>
          </div><!-- Menu Item -->

          <div class="col-lg-6 menu-item isotope-item filter-starters">
            <img src="{% static 'assets/img/menu/mozzarella.jpg' %}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">استیک موزارلا</a><span>۶۰۰.۰۰۰</span>
            </div>
            <div class="menu-ingredients">
              استیک گوساله‌ی باکیفیت، گریل‌شده به دلخواه شما و سروشده با سس دم‌پایین خانگی، همراه سیب‌زمینی روستیک و سبزیجات فصل
            </div>
          </div><!-- Menu Item -->

          <div class="col-lg-6 menu-item isotope-item filter-salads">
            <img src="{% static 'assets/img/menu/greek-salad.jpg' %}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">سالاد یونانی</a><span>۲۰۰.۰۰۰</span>
            </div>
            <div class="menu-ingredients">
              ترکیبی تازه از خیار، گوجه‌ی گیلاسی، پیاز سفید، زیتون سیاه و پنیر فِتا، همراه با نعنا و سس زیتون زیتون-آلو‌ورا به سبک مدیترانه‌ای
            </div>
          </div><!-- Menu Item -->

          <div class="col-lg-6 menu-item isotope-item filter-salads">
            <img src="{% static 'assets/img/menu/spinach-salad.jpg' %}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">سالاد اسپانیایی</a><span>۳۲۰.۰۰۰</span>
            </div>
            <div class="menu-ingredients">
              ترکیبی تازه از خیار، گوجه‌ی گیلاسی، پیاز سفید، زیتون سیاه و پنیر فِتا، همراه با نعنا و سس زیتون
            </div>
          </div><!-- Menu Item -->

          <div class="col-lg-6 menu-item isotope-item filter-specialty">
            <img src="{% static 'assets/img/menu/lobster-roll.jpg' %}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">ماهی</a><span>۵۲۰.۰۰۰</span>
            </div>
            <div class="menu-ingredients">
              فیله ماهی تازه‌ی دریایی، گریل‌شده با روغن زیتون و ادویه‌های مدیترانه‌ای، همراه با سس لیمو-گارلیک و سبزیجات گریل‌شده‌ی فصل
            </div>
          </div><!-- Menu Item -->

        </div><!-- Menu Container -->

      </div>

    </section><!-- /Menu Section -->

    <!-- Specials Section -->
    <section id="specials" class="specials section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>ویژه ها</h2>
        <p>منوی مخصوص ما را امتحان منید</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#specials-tab-1">منوی شرقی</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#specials-tab-2">بشقاب میوه</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#specials-tab-3">پاستا</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#specials-tab-4">غذاهای گریل</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#specials-tab-5">بشقاب استوایی</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="specials-tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</h3>
                    <p class="fst-italic">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'assets/img/specials-1.png' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="specials-tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</h3>
                    <p class="fst-italic">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'assets/img/specials-2.png' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="specials-tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</h3>
                    <p class="fst-italic">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'assets/img/specials-3.png' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="specials-tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</h3>
                    <p class="fst-italic">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'assets/img/specials-4.png' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="specials-tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</h3>
                    <p class="fst-italic">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'assets/img/specials-5.png' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /Specials Section -->

    <!-- Events Section -->
    <section id="events" class="events section">

      <img class="slider-bg" src="assets/img/events-bg.jpg' %}" alt="" data-aos="fade-in">

      <div class="container">

        <div class="swiper init-swiper" data-aos="fade-up" data-aos-delay="100">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              }
            }
          </script>
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="row gy-4 event-item">
                <div class="col-lg-6">
                  <img src="{% static 'assets/img/events-slider/events-slider-1.jpg' %}" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                  <h3>مراسم تولد</h3>
                  <div class="price">
                    <p><span>۳۰۰.۰۰۰ تومان</span></p>
                  </div>
                  <p class="fst-italic">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                  </p>
                  <ul>
                    <li><i class="bi bi-check2-circle"></i> <span>لورم ایپسوم متن ساختگی با سادگی نامفهوم از صنعت چاپ</span></li>
                    <li><i class="bi bi-check2-circle"></i> <span>لورم ایپسوم متن ساختگی با تولید  از صنعت چاپ</span></li>
                    <li><i class="bi bi-check2-circle"></i> <span> ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</span></li>
                  </ul>
                  <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز
                  </p>
                </div>
              </div>
            </div><!-- End Slider item -->

            <div class="swiper-slide">
              <div class="row gy-4 event-item">
                <div class="col-lg-6">
                  <img src="{% static 'assets/img/events-slider/events-slider-2.jpg' %}" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                  <h3>جشن های خصوصی</h3>
                  <div class="price">
                    <p><span>۴۵۰.۰۰۰ تومان</span></p>
                  </div>
                  <p class="fst-italic">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                  </p>
                  <ul>
                    <li><i class="bi bi-check2-circle"></i> <span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</span></li>
                    <li><i class="bi bi-check2-circle"></i> <span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</span></li>
                    <li><i class="bi bi-check2-circle"></i> <span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</span></li>
                  </ul>
                  <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                  </p>
                </div>
              </div>
            </div><!-- End Slider item -->

            <div class="swiper-slide">
              <div class="row gy-4 event-item">
                <div class="col-lg-6">
                  <img src="{% static 'assets/img/events-slider/events-slider-3.jpg' %}" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                  <h3>مهمانی های خانوادگی</h3>
                  <div class="price">
                    <p><span>۳۵۰.۰۰۰ تومان</span></p>
                  </div>
                  <p class="fst-italic">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                  </p>
                  <ul>
                    <li><i class="bi bi-check2-circle"></i> <span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</span></li>
                    <li><i class="bi bi-check2-circle"></i> <span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</span></li>
                    <li><i class="bi bi-check2-circle"></i> <span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</span></li>
                  </ul>
                  <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                  </p>
                </div>
              </div>
            </div><!-- End Slider item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Events Section -->

    <!-- Book A Table Section -->
    <section id="book-a-table" class="book-a-table section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>رزرواسیون</h2>
        <p>رزرو میز</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <form action="forms/book-a-table.php" method="post" role="form" class="php-email-form">
          <div class="row gy-4">
            <div class="col-lg-4 col-md-6">
              <input type="text" name="name" class="form-control" id="name" placeholder="نام شما" required>
            </div>
            <div class="col-lg-4 col-md-6">
              <input type="email" class="form-control" name="email" id="email" placeholder="ایمیل شما" required>
            </div>
            <div class="col-lg-4 col-md-6">
              <input type="text" class="form-control" name="phone" id="phone" placeholder="شماره تماس" required>
            </div>
            <div class="col-lg-4 col-md-6">
              <input type="date" name="date" class="form-control" id="date" placeholder="Date" required>
            </div>
            <div class="col-lg-4 col-md-6">
              <input type="time" class="form-control" name="time" id="time" placeholder="Time" required="">
            </div>
            <div class="col-lg-4 col-md-6">
              <input type="number" class="form-control" name="people" id="people" placeholder="# تعداد نفرات" required="">
            </div>
          </div>

          <div class="form-group mt-3">
            <textarea class="form-control" name="message" rows="5" placeholder="پیام شما"></textarea>
          </div>

          <div class="text-center mt-3">
            <div class="loading">در حال ارسال</div>
            <div class="error-message"></div>
            <div class="sent-message">پیام شما با موفقیت ارسال شد. با شما تماس گرفته خواهد شد. متشکرم!</div>
            <button type="submit">رزرو میز</button>
          </div>
        </form><!-- End Reservation Form -->

      </div>

    </section><!-- /Book A Table Section -->

    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>نظرات مشتریان</h2>
        <p>چه چیزی درباره ما گفته شده است!</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper" data-speed="600" data-delay="5000" data-breakpoints="{ &quot;320&quot;: { &quot;slidesPerView&quot;: 1, &quot;spaceBetween&quot;: 40 }, &quot;1200&quot;: { &quot;slidesPerView&quot;: 3, &quot;spaceBetween&quot;: 40 } }">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 1,
                  "spaceBetween": 40
                },
                "1200": {
                  "slidesPerView": 3,
                  "spaceBetween": 20
                }
              }
            }
          </script>
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item" >
                <p>
                  <i class=" bi bi-quote quote-icon-left"></i>
                  <span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می با گذشته حال و آینده</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <img src="{% static 'assets/img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
                <h3>سام مرادخانی</h3>
                <h4>مدیر و بنانگذار</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <img src="{% static 'assets/img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
                <h3>سارا نایینی</h3>
                <h4>طراح</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <img src="{% static 'assets/img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
                <h3>ژاله کریمی</h3>
                <h4>مدیر فروشگاه</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <img src="{% static 'assets/img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
                <h3>مهدی مرادی</h3>
                <h4>فریلنسر</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <img src="{% static 'assets/img/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="">
                <h3>علی رضایی</h3>
                <h4>کارآفرین</h4>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Testimonials Section -->

    <!-- Gallery Section -->
    <section id="gallery" class="gallery section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>گالری</h2>
        <p>برخی از عکس های رستوران</p>
      </div><!-- End Section Title -->

      <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-0">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-1.jpg' %}" class="glightbox" data-gallery="images-gallery">
                <img src="{% static 'assets/img/gallery/gallery-1.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-2.jpg' %}" class="glightbox" data-gallery="images-gallery">
                <img src="{% static 'assets/img/gallery/gallery-2.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-3.jpg' %}" class="glightbox" data-gallery="images-gallery">
                <img src="{% static 'assets/img/gallery/gallery-3.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-4.jpg' %}" class="glightbox" data-gallery="images-gallery">
                <img src="{% static 'assets/img/gallery/gallery-4.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-5.jpg' %}" class="glightbox" data-gallery="images-gallery">
                <img src="{% static 'assets/img/gallery/gallery-5.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-6.jpg' %}" class="glightbox" data-gallery="images-gallery">
                <img src="{% static 'assets/img/gallery/gallery-6.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-7.jpg' %}" class="glightbox" data-gallery="images-gallery">
                <img src="{% static 'assets/img/gallery/gallery-7.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-8.jpg' %}" class="glightbox" data-gallery="images-gallery">
                <img src="{% static 'assets/img/gallery/gallery-8.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

        </div>

      </div>

    </section><!-- /Gallery Section -->

    <!-- Chefs Section -->
    <section id="chefs" class="chefs section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>تیم کافه چی</h2>
        <p>متن ساختگی با تولید سادگی</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <img src="{% static 'assets/img/chefs/chefs-1.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>فرهاد صمدی</h4>
                  <span>سرآشپز</span>
                </div>
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <img src="{% static 'assets/img/chefs/chefs-2.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>سحر کیانی</h4>
                  <span>باریستا</span>
                </div>
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <img src="{% static 'assets/img/chefs/chefs-3.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>علی ایمانی</h4>
                  <span>کیک و دسر</span>
                </div>
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>

    </section><!-- /Chefs Section -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>تماس</h2>
        <p>تماس با ما</p>
      </div><!-- End Section Title -->

      <div class="mb-5" data-aos="fade-up" data-aos-delay="200">
        <iframe style="border:0; width: 100%; height: 400px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d913.8475018132522!2d45.06109650020587!3d37.534475033733315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x400553006a2754b5%3A0x43d3b964f38305e7!2zQ2FmZSBDb2hlbiDaqdin2YHZhyDaqdmI2YfZhg!5e0!3m2!1sen!2s!4v1765802750771!5m2!1sen!2s" frameborder="0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div><!-- End Google Maps -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>آدرس</h3>
                <p>ارومیه - خیابان دانشکده -جنب بانک کارآفرین</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>ساعات فعالیت</h3>
                <p>تمامی روزهای هفته:<br>۸ صبح تا ۱۱ شب</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>شماره تماس</h3>
                <p>+۴۴۳۲۵۲۶۴۳۲</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>ایمیل</h3>
                <p>info@example.com</p>
              </div>
            </div><!-- End Info Item -->

          </div>

          <div class="col-lg-8">
            <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="نام شما" required>
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="ایمیل" required>
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="موضوع" required>
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="پیام" required></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">در حال ارسال</div>
                  <div class="error-message"></div>
                  <div class="sent-message">پیام شما ارسال گردید. با تشکر!</div>

                  <button type="submit">ارسال پیام</button>
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->

  </main>

  <footer id="footer" class="footer">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span class="sitename">کافه چی</span>
          </a>
          <div class="footer-contact pt-3">
            <p>خیابان دانشکده جنب بانک کارآفرین</p>
            <p>آذربایجان غربی - ارومیه</p>
            <p class="mt-3"><strong>تلفن:</strong> <span>۰۹۱۴۹۶۹۳۱۰۵</span></p>
            <p><strong>ایمیل:</strong> <span>info@example.com</span></p>
          </div>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>لینک های مفید</h4>
          <ul>
            <li><a href="#">خانه</a></li>
            <li><a href="#">درباره ما</a></li>
            <li><a href="#">خدمات</a></li>
            <li><a href="#">محصولات</a></li>
            <li><a href="#">سیاست های کاری</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>خدمات ما</h4>
          <ul>
            <li><a href="#">رستوران</a></li>
            <li><a href="#">کافی شاپ</a></li>
            <li><a href="#">تولد</a></li>
            <li><a href="#">مراسمات کاری</a></li>
            <li><a href="#">بیرون بر</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-12 footer-newsletter">
          <h4>خبرنامه ما</h4>
          <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
          <form action="forms/newsletter.php" method="post" class="php-email-form">
            <div class="newsletter-form"><input type="email" name="email"><input type="submit" value="Subscribe"></div>
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">درخواست ثبت نام شما با موفقیت ارسال گردید. متشکرم!</div>
          </form>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">کافه چی</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        Designed by <a href="#">ShahramWeb</a>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>